.DS_Store
*/python-gguf-model-q4_k_m.bin
*/python-gguf-model-q5_k_m.bin
*/chat-gguf-model-q5_k_m.bin
/python-gguf-model-q4_k_m.bin
/python-gguf-model-q5_k_m.bin
/chat-gguf-model-q5_k_m.bin
test/mistral-7b-instruct-v0.2.Q2_K.gguf
program/mistral-7b-v0.1.Q3_K_M.gguf
test/bin/Debug/net8.0/CoverletSourceRootsMapping_test
*/bin
*/bin/*
*/debug
*/debug/*
bin/*
*/obj
*/obj/*
obj/*
