.DS_Store
*/python-gguf-model-q4_k_m.bin
*/python-gguf-model-q5_k_m.bin
*/chat-gguf-model-q5_k_m.bin
/python-gguf-model-q4_k_m.bin
/python-gguf-model-q5_k_m.bin
/chat-gguf-model-q5_k_m.bin
test/bin/Debug/net8.0/CoverletSourceRootsMapping_test
*/bin
*/bin/*
*/debug
*/debug/*
bin/*
*/obj
*/obj/*
obj/*
*.gguf
*.gguf
